node_modules/
dist/
*.log
.env
*.iml
coverage/
test-results/
pipeline-reports/
/pipeline-reports/
allure-report-*.json
allure-results/
allure-report/
/allure-results/
/allure-report/






# Project exclude paths
/src/agents/APIAgent.js
/src/agents/BaseAgent.js
/src/agents/HeadSpinAgent.js
/src/agents/MobileAgent.js
/src/auth/login.js
/src/auth/roles.js
/src/auth/totp.js
/src/auth/users.js
/src/orchestrator/MCPAgentOrchestrator.js
/src/reports/ReportGenerator.js
/src/types/enums.js
/src/types/interfaces.js
/src/utils/helpers.js
/src/index.js
/tests/agents/APIAgent.spec.js
/tests/api/user-api.spec.js
/tests/auth/totp.spec.js
/tests/mobile/ios-headspin.spec.js
/tests/mobile/ios-simulator.spec.js
/tests/orchestrator/MCPAgentOrchestrator.spec.js
/tests/reports/ReportGenerator.spec.js