asyncio~=3.4.3
numpy~=2.2.6
pandas~=2.3.0
openai~=1.97.0
aiofiles~=24.1.0
aiohttp~=3.12.14
pyarrow~=20.0.0
Faker~=37.4.0
cryptography~=45.0.5
scipy~=1.15.3
pydantic~=2.11.7
selenium~=4.34.2
PyYAML~=6.0.2
Jinja2~=3.1.6
requests~=2.32.4
jira~=3.8.0
matplotlib~=3.10.3
hmmlearn~=0.3.3
scikit-learn~=1.7.0